{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Upvest Ropsten Faucet</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/png" sizes="16x16">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <nav class="navbar static-top">
      <div class="container text-white">
        <h1>Upvest Faucets</h1>
      </div>
    </nav>

      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          {% for faucet in faucets %}
          <a class='btn btn-info' href="{% url 'faucet' faucet.asset_code %}">{{ faucet.asset_code }} {{ faucet.name }}</a>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h3 class="mb-5">Use this faucet to get some {{ faucet.asset_code }}!</h3>
            <p>Upvest asset id: {{ faucet.asset_id }}</p>
          </div>
          {% if messages %}
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto ">
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }} {% if message.tags == 'error' %}alert-danger{% endif %}">
                  {{ message }}
                </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form method="post">
              {% csrf_token %}
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input type="hidden" name='asset' value='{{ faucet.asset_code }}'>
                  <input type="text" name="address" value="{{ address }}"
                         class="form-control form-control-lg" placeholder="Enter your wallet address">
                </div>
                <div class="col-12 col-md-3">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            This will send {{ faucet.sending_amount.normalize }} {{ faucet.asset_code }} to the given address.
            <br/> The faucet wallet currently has a balance of {{ faucet.balance }}{{ faucet.asset_code }}
            <br/>Feel free to donate to the faucet wallet, {{ faucet.wallet_address }}
          </div>
          {% if tx %}
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto alert alert-primary">
              Success! {{ faucet.sending_amount.normalize }} {{ faucet.asset_code }} has been sent to {{ address }}.
              Transaction is
              <a href='https://ropsten.etherscan.io/tx/{{ tx.txhash }}'>
                {{ tx.txhash }}
              </a>
            </div>
          {% endif %}
        </div>

      </div>

</body>
</html>
